data_collection/common_crawl/extract_zh_religious.csv filter=lfs diff=lfs merge=lfs -text
Master_Thesis/data_collection/common_crawl/extract_ja_religious.csv filter=lfs diff=lfs merge=lfs -text
data_collection/Tieba/raw_religious_zh.csv filter=lfs diff=lfs merge=lfs -text
# 1. 隐藏敏感信息
.env
*.env
credentials.json

# 2. 隐藏 Python 编译缓存
__pycache__/
*.py[cod]
*$py.class

# 3. 隐藏虚拟环境（非常重要，不要传到 Git）
venv/
.venv/
env/

# 4. 隐藏 IDE 配置
.vscode/
.idea/

# 5. 隐藏系统临时文件
.DS_Store
Thumbs.db