accelerate==1.12.0
aiodns
aiohappyeyeballs
aiohttp
aiosignal
annotated-types==0.7.0
anyio
asttokens
attrs
beautifulsoup4
bioc==2.1
boto3==1.42.30
botocore==1.42.30
Bottleneck
brotlicffi
certifi
cffi
charset-normalizer
comm
conllu==4.5.3
contourpy==1.3.3
cycler==0.12.1
datasets
debugpy
cydifflib
decorator
Deprecated==1.3.1
dill
distro==1.9.0
docopt==0.6.2
exceptiongroup
executing
filelock
flair==0.15.1
fonttools==4.61.1
frozenlist
fsspec
ftfy==6.3.1
fugashi==1.5.2
gdown==5.2.1
gmpy2
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
intervaltree==3.2.1
ipadic==1.0.0
ipykernel
ipython
ipython_pygments_lexers
jedi
jieba
Jinja2
jiter==0.13.0
jmespath==1.0.1
joblib
jsonlines==4.0.0
jupyter_client
jupyter_core
kiwisolver==1.4.9
langdetect==1.0.9
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe
matplotlib==3.10.8
matplotlib-inline
mdurl==0.1.2
more-itertools==10.8.0
mpld3==0.5.12
mpmath
mteb==2.7.13
multidict
multiprocess
nest_asyncio
networkx
numexpr
numpy==1.26.4
openai==2.21.0
outcome
packaging
pandas==2.3.3
parso
pexpect
pillow
platformdirs
polars==1.37.1
polars-runtime-32==1.37.1
pptree==3.1
prompt_toolkit
propcache
protobuf==6.33.0
psutil==7.2.1
ptyprocess
pure_eval
pyarrow
pycares
pycparser
pydantic==2.12.5
pydantic_core==2.41.5
Pygments
pyparsing==3.3.1
PySocks
python-dateutil
python-dotenv
pytorch_revgrad==0.2.0
pytrec_eval-terrier==0.5.10
pytz
PyYAML
pyzmq
regex
requests
rich==14.3.1
s3transfer==0.16.0
safetensors
scikit-learn
scipy==1.16.3
seaborn==0.13.2
segtok==1.5.11
selenium
sentence-transformers
sentencepiece
six
sniffio
sortedcontainers
soupsieve
sqlitedict==2.1.0
stack_data
sympy
tabulate==0.9.0
threadpoolctl
tokenizers
tornado
tqdm
traitlets
transformer-smaller-training-vocab==0.4.2
transformers
trio
trio-websocket
typing-inspection==0.4.2
typing_extensions
tzdata
urllib3
uvloop
wcwidth
webdriver_manager
websocket-client
Wikipedia-API==0.8.1
wrapt==2.0.1
wsproto
xxhash
yarl
deep-translator