accelerate==1.12.0
aiodns @ file:///opt/miniconda3/conda-bld/aiodns_1762184798270/work
aiohappyeyeballs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_86beu757ao/croot/aiohappyeyeballs_1755769847762/work
aiohttp @ file:///Users/ec2-user/croot/aiohttp_1767813704623/work
aiosignal @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e3cjtbh902/croot/aiosignal_1755870814211/work
annotated-types==0.7.0
anyio @ file:///opt/miniconda3/conda-bld/anyio_1758623415329/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
attrs @ file:///opt/miniconda3/conda-bld/attrs_1762356972456/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1764520477956/work
bioc==2.1
boto3==1.42.30
botocore==1.42.30
Bottleneck @ file:///opt/miniconda3/conda-bld/bottleneck_1761937851559/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161648/work
certifi @ file:///Users/ec2-user/croot/certifi_1767659246487/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832774705/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744820108/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
conllu==4.5.3
contourpy==1.3.3
cycler==0.12.1
datasets @ file:///Users/ec2-user/croot/datasets_1766497782248/work
debugpy @ file:///opt/miniconda3/conda-bld/debugpy_1762421636036/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
Deprecated==1.3.1
dill @ file:///opt/miniconda3/conda-bld/dill_1760096784330/work
distro==1.9.0
docopt==0.6.2
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
filelock @ file:///opt/miniconda3/conda-bld/filelock_1762419674411/work
flair==0.15.1
fonttools==4.61.1
frozenlist @ file:///opt/miniconda3/conda-bld/frozenlist_1761062014040/work
fsspec @ file:///opt/miniconda3/conda-bld/fsspec_1762432465003/work
ftfy==6.3.1
fugashi==1.5.2
gdown==5.2.1
gmpy2 @ file:///opt/miniconda3/conda-bld/gmpy2_1764747892573/work
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931260823/work
hf-xet @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_79w069vczw/croot/hf-xet_1755725955657/work
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_941yf7p5zt/croot/httpcore_1748526061031/work
httpx @ file:///opt/miniconda3/conda-bld/httpx_1760447187197/work
huggingface_hub @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_29dc5yixdo/croot/huggingface_hub_1755770856782/work
idna @ file:///opt/miniconda3/conda-bld/idna_1761912005314/work
intervaltree==3.2.1
ipadic==1.0.0
ipykernel @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_ipykernel_1761567969/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1767621166/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
jieba @ file:///home/conda/feedstock_root/build_artifacts/jieba_1735329782212/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
jiter==0.13.0
jmespath==1.0.1
joblib @ file:///Users/ec2-user/croot/joblib_1767868074826/work
jsonlines==4.0.0
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1767954655/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
kiwisolver==1.4.9
langdetect==1.0.9
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1f_uj4vxik/croot/markupsafe_1738584045311/work
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mdurl==0.1.2
more-itertools==10.8.0
mpld3==0.5.12
mpmath @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_17iu6a8a3m/croot/mpmath_1690848269369/work
mteb==2.7.13
multidict @ file:///opt/miniconda3/conda-bld/multidict_1760566705134/work
multiprocess @ file:///Users/ec2-user/croot/multiprocess_1766144197892/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///opt/miniconda3/conda-bld/networkx_1765378630299/work
numexpr @ file:///opt/miniconda3/conda-bld/numexpr_1762165519324/work
numpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_feerxblx2i/croot/numpy_and_numpy_base_1755590858426/work/dist/numpy-1.26.4-cp311-cp311-macosx_11_0_arm64.whl#sha256=90e2c7129858f82ac766ccb65eb8e3aeaa30c8027ce418831a97cf8376aa0ae2
openai==2.21.0
outcome @ file:///home/conda/feedstock_root/build_artifacts/outcome_1733406188332/work
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079066/work
pandas @ file:///opt/miniconda3/conda-bld/pandas_1762332181524/work/dist/pandas-2.3.3-cp311-cp311-macosx_12_0_arm64.whl#sha256=202df5d53c23cfef62978a56a6ba62db241b6257dcda7ff087a13319aa75ac1f
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pillow @ file:///opt/miniconda3/conda-bld/pillow_1762528235719/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1764950726/work
polars==1.37.1
polars-runtime-32==1.37.1
pptree==3.1
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
propcache @ file:///opt/miniconda3/conda-bld/propcache_1765457313942/work
protobuf @ file:///opt/miniconda3/conda-bld/protobuf_1763136937898/work/bazel-bin/python/dist/protobuf-6.33.0-cp311-abi3-macosx_11_0_arm64.whl#sha256=9ac17fe1509f6ebb043525c75dad46ba4c2ff0a35eb8e2897e028966495491d9
psutil==7.2.1
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow @ file:///opt/miniconda3/conda-bld/pyarrow_1764939446696/work/python
pycares @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b01dqj7707/croot/pycares_1756217969873/work
pycparser @ file:///opt/miniconda3/conda-bld/pycparser_1757496044852/work
pydantic==2.12.5
pydantic_core==2.41.5
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pyparsing==3.3.1
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010242/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1761503229/work
pytorch_revgrad==0.2.0
pytrec_eval-terrier==0.5.10
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bjczh6it0/croot/pytz_1752135865541/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492937/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375616040/work
regex @ file:///opt/miniconda3/conda-bld/regex_1765378752018/work
requests @ file:///opt/miniconda3/conda-bld/requests_1762359591792/work
rich==14.3.1
s3transfer==0.16.0
safetensors @ file:///opt/miniconda3/conda-bld/safetensors_1762515994408/work
scikit-learn @ file:///Users/ec2-user/croot/scikit-learn_1766097961875/work
scipy @ file:///opt/miniconda3/conda-bld/scipy_1762194749537/work/dist/scipy-1.16.3-cp311-cp311-macosx_12_0_arm64.whl#sha256=41d45d75f1d72e7a757f80e074035f65ef5c4be37f708d353776f16dbc3ffcec
seaborn==0.13.2
segtok==1.5.11
selenium @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_selenium_1765114507/work
sentence-transformers @ file:///Users/ec2-user/croot/sentence-transformers_1769174432245/work
sentencepiece @ file:///Users/ec2-user/croot/sentencepiece-split_1767093416184/work/python
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
sniffio @ file:///opt/miniconda3/conda-bld/sniffio_1764329150716/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1766075626365/work
sqlitedict==2.1.0
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
sympy @ file:///opt/miniconda3/conda-bld/sympy_1764762956189/work
tabulate==0.9.0
threadpoolctl @ file:///opt/miniconda3/conda-bld/threadpoolctl_1764361580622/work
tokenizers @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_edx0_h5d0r/croot/tokenizers_1741370364286/work
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tornado @ file:///Users/ec2-user/croot/tornado_1765992648472/work
tqdm @ file:///opt/miniconda3/conda-bld/tqdm_1762863351517/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformer-smaller-training-vocab==0.4.2
transformers @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d4vmqk9i5p/croot/transformers_1741723022024/work
trio @ file:///opt/miniconda3/conda-bld/trio_1762422112895/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_trio-websocket_1740493956/work
typing-inspection==0.4.2
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
urllib3 @ file:///Users/ec2-user/croot/urllib3_1767810410716/work
uvloop @ file:///opt/miniconda3/conda-bld/uvloop_1762175502795/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1769427165918/work
webdriver_manager @ file:///home/conda/feedstock_root/build_artifacts/webdriver-manager_1734973100473/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1759928050786/work
Wikipedia-API==0.8.1
wrapt==2.0.1
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1763678090349/work
xxhash @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4dqzb3ngyc/croot/python-xxhash_1737039922516/work
yarl @ file:///opt/miniconda3/conda-bld/yarl_1762250141699/work
